<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/all.min.css">
  <title>Rede</title>
</head>
<body ng-app="RedeApp">
    <md-tabs class="md-accent">
      <a href="#timeline">
        <md-tab class="md-toolbar-tools">
          <md-icon md-svg-src="/image/password.svg"></md-icon>  
          <span class="md-label"> Time Line </span>
        </md-tab>
      </a>  
      <a href="#bancas">
        <md-tab class="md-toolbar-tools">
          <md-icon md-svg-src="/image/password.svg"></md-icon>  
          <span class="md-label"> Bancas </span>
        </md-tab>
      </a>
      <a href="#empresas">
        <md-tab class="md-toolbar-tools"> 
          <md-icon md-svg-src="/image/password.svg"></md-icon> 
          <span class="md-label"> Empresas </span>
        </md-tab>
      </a>
      <a href="#equipes">
        <md-tab class="md-toolbar-tools"> 
          <md-icon md-svg-src="/image/password.svg"></md-icon> 
          <span class="md-label"> Equipes </span>
        </md-tab>
      </a>
      <a href="#pesquisadores">
        <md-tab class="md-toolbar-tools">
          <md-icon md-svg-src="/image/checkdone.svg"></md-icon> 
          <span class="md-label"> Pesquisadores </span>
        </md-tab>
      </a>
      <a href="#logar">
        <md-tab class="md-toolbar-tools">
          <md-icon md-svg-src="/image/personmail.svg"></md-icon>
          <span class="md-label"> Logar </span>
        </md-tab>
      </a>   
      <a href="#signin">
        <md-tab class="md-toolbar-tools">
          <md-icon md-svg-src="/image/person.svg"></md-icon> 
          <span class="md-label"> Sign in </span>
        </md-tab>
      </a>
      <div ng-controller="IndexCrtl as vm">                
          <md-tab ng-if="$parent.user" class="md-toolbar-tools">
            <a href>
              <md-tooltip>
                  Perfil
              </md-tooltip>
              <img ng-src="{{$parent.img}}"
               alt="{{$parent.user.result.name}}"
              style="width: 30px; height: 30px;">
              <span class="md-label"> {{$parent.user.result.name}} </span>
            </a>
            <a ng-click="vm.sair()">
              <md-tooltip>
                  SAIR
              </md-tooltip>
              <md-icon md-svg-src="image/poweroff.svg" class="s24" alt="SAIR" >
              </md-icon>
            </a>
          </md-tab>        
      </div>
    </md-tabs>  
  <ng-view/>
  <script src="js/all.min.js" defer></script>
</body>
</html>