md-content(ng-controller='CadCtrl' ,class="md-padding" style="height: 600px;")
  section(layout="column", layout-sm="row" , layout-align="start center") 
    form(style="padding: 20px;", class="md-input-group")
      div(layout="row")
        md-text-float(label="NOME" , ng-model="user.name" , required)
        md-text-float(label="SOBRE NOME" , ng-model="user.sname", required)
      div(layout="row")
        md-text-float(label="EMAIL" , ng-model="user.email" , type="email", required)
      div(layout="row")
        md-text-float(label="PASSWORD" , ng-model="user.password", type="password", required)
        md-text-float(label="RE-PASSWORD" , ng-model="user.repassword", type="password", required)
      section(layout="row" layout-sm="column" layout-align="end center")
        md-button(class="md-raised md-primary" ng-click="cadUser(user)") Gravar