extends layout

block content  
  div(ng-controller='DashCtrl')
   md-toolbar(class='md-warn')
    .md-toolbar-tools
      span.md-flex Dashboard
  md-content(class="md-padding" style="height: 600px;padding: 24px;")
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis aperiam, vitae perferendis, nostrum corporis at reiciendis. Beatae, tempora, saepe? Totam reprehenderit eum officiis architecto exercitationem illum tenetur quisquam asperiores dignissimos.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime, illo.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quo iste expedita consectetur dolore necessitatibus aliquid! Inventore, perferendis, iste. Rem necessitatibus, assumenda saepe tempore reiciendis.
