<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
  <title>Rede</title>
</head>
<body ng-app="RedeApp">
 
  <md-content class="sample" layout="column">
    <md-tabs class="md-accent" flex> 
      <a href="#logar">
        <md-tab> <h3 class="md-label"> Logar </h3></md-tab>
      </a>
      <a href="#signin">
        <md-tab> <h3 class="md-label"> Sign in </h3></md-tab>
      </a>
      <a href="#bancas">
        <md-tab> <h3 class="md-label"> Bancas </h3></md-tab>
      </a>
      <a href="#empresas">
        <md-tab> <h3 class="md-label"> Empresas </h3></md-tab>
      </a>
      <a href="#pesquisadores">
        <md-tab> <h3 class="md-label"> Pesquisadores </h3></md-tab>
      </a>
      <md-tab>
        <md-input-container>
          <label>Buscar</label>
          <input ng-model="vm.search" type="text">
        </md-input-container>
      </md-tab>
    </md-tabs>
  </md-content>

  <div ng-view></div>
  
  <script src="bower_components/angular/angular.min.js" ></script>
  <script src="bower_components/angular-route/angular-route.min.js" ></script>
  <script src="bower_components/angular-animate/angular-animate.min.js" ></script>
  <script src="bower_components/angular-aria/angular-aria.min.js" ></script>
  <script src="bower_components/angular-material/angular-material.min.js" ></script>
  <script src="bower_components/hammerjs/hammer.min.js" ></script>
  <script src="scripts/app.js" ></script>
  <script src="scripts/controllers/logincrtl.js"></script>
  <script src="scripts/controllers/bancactrl.js"></script>
  <script src="scripts/controllers/empresactrl.js"></script>
  <script src="scripts/controllers/pesquisadorctrl.js"></script>
  <script src="scripts/controllers/singcrtl.js"></script>
</body>
</html>