extends layout

block content
	script(src="controller/usercontroller.js")
	div(ng-app="UserApp")
		form
			input(ng-model="searchStr")
		div(ng-controller="UserCtrl")
			ol
				li(ng-repeat="user in users | filter:searchStr")
					p ID : {{user.metadata.id}}
					p Name : {{user.data.name}}
					p CPF : {{user.data.cpf}}
					p Email : {{user.data.email}}
					p Senha : {{user.data.senha}}
			p{{erro}}