body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a:link, a:visited {
  text-decoration: none
}
a:hover{
  color: #f00
}
a:active {
  text-decoration: none
}
md-grid-list {
  margin: 8px; 
}
.red {
  background:  #84ffff; 	
}
.div-main {
  width: 300px;
  background: url("../image/graph.svg");
  background-repeat: no-repeat;
}

.publicacao, .btn-adm {
  margin: 0 auto;
}

.btn-adm {
  width: 100%;
}

.btn-logout {
  padding: 1px 6px 1px 6px;
}

.btn-logout > img {
  width: 25px;
  height: 25px;
}

.btn-logout > img,
.btn-logout > span {
  vertical-align: middle;
}

.area-form{
  height:450px;
  width:350px;
}
.painel-adm {
  max-width: 350px
}
.dialog-login {
  height:350px;
  width:300px;
}
.dialog-singup {
  width:400px;
  height:500px;
}
.timeline > div{
  padding: 5px;
}

.timeline-childs {
  height : 590px;
}

.timeline-list {
  height : 500px;
}

md-autocomplete {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
