body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background: url("/image/bk600x499.png"); */
  background-color: red;
  padding-left: 10px; 
}

a {

  color: #00B7FF;
}

a:link, a:visited {
  text-decoration: none
  }
a:hover{
  color: #f00
  }
a:active {
  text-decoration: none
  }