body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
label {
  color: #000; 
}

a:link, a:visited {
  text-decoration: none
  }
a:hover{
   background:#dcedc8;
  text-decoration: underline; 
  color: #f00
  }
a:active {
  text-decoration: none
  }