<div flex>
  <md-content>   
      <md-subheader class="">Publicacoes</md-subheader>
      <md-list layout="column" layout-align="center center">
        <md-list-item class="md-4-line" ng-repeat="publicacao in vm.publicacoes">
            <div class="md-list-item-text publicacao">
              <h3>{{ publicacao.name }}</h3>
              <h4>{{ publicacao.tipo }}</h4>
              <p>{{ publicacao.formato }}</p>
              <p>{{ publicacao.ano }}</p>
            </div>
            <md-divider ></md-divider>
        </md-list-item>
      </md-list>
  </md-content>
</div>
