<div layout="column" flex layout-fill>
  <md-content style="height: 600px;">
    <section>
      <md-subheader class="md-primary">Publicacoes</md-subheader>
      <md-list layout-padding>
        <md-list-item class="md-3-line" ng-repeat="publicacao in vm.publicacoes">
            <img ng-src="{{publicacao.face}}" class="md-avatar" alt="{{publicacao.who}}">
            <div class="md-list-item-text">
              <h3>{{publicacao.what}}</h3>
              <h4>{{publicacao.who}}</h4>
              <p>
                {{publicacao.notes}}
              </p>
            </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>