<div class="timeline md-padding" ng-cloak layout="row" layout-wrap flex>
  <div ng-controller="ProjetosPresquisaController as vm" class="md-whiteframe-1dp timeline-childs" flex="50" flex-sm="100">
    <md-toolbar> 
      <div class="md-toolbar-tools">
        <h2 flex> Projetos de Pesquisa</h2>
        <rc-select aria="select area" item="vm.area" items="vm.areas"></rc-select>
      </div>
    </md-toolbar>
    <md-content class="timeline-list" rc-projetoslist flex="auto" flex-sm="grow">
      <rc-projeto  ng-repeat="p in vm.projetos | filter: vm.area"
                   title="{{p.projeto.nome}}" >
                   <p> {{p.projeto.resumo}} </p>
                   <span> {{p.area.nomeArea}} </span>
      </rc-projeto>
    </md-content>
  </div>
  <div class="md-whiteframe-1dp timeline-childs"  ng-controller="PublicacoesCtrl as vm" flex="50" flex-sm="100">
    <md-toolbar> 
      <div ng-if="vm.publicacoes.length > 0" class="md-toolbar-tools">
        <h1 flex>Publicações</h1>
        <h2 flex>Escolha o tipo</h2>
        <rc-select aria="select type" item="vm.tipo" items="vm.tipos"></rc-select>
      </div>
    </md-toolbar>
    <md-content rc-projetoslist class="timeline-list" flex="auto" flex-sm="grow">
      <rc-projeto  ng-repeat="p in vm.publicacoes | filter: vm.tipo" title="{{p.name}}">
        <div>
          <p>Ano da Publicação {{p.ano}}</p>
          <p>tipo da publicação {{p.tipo}}</p>
          <p>Formato da publicaçâo {{p.formato}}</p>
        </div>
      </rc-projeto>
    </md-content>
  </div>
  <div class="md-whiteframe-1dp timeline-childs" flex="grow">
    <md-toolbar> 
      <div class="md-toolbar-tools">
        <h2 flex>Conhecendo nossa rede</h2>
      </div>
    </md-toolbar>
  </div>
</div>
