<div flex layout="row" layout-align="center center">
  <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" class="md-whiteframe-z5">
    <md-content class="md-padding">
      <form name="areaForm" ng-submit="vm.salvar(vm.area)">
        <md-input-container md-no-float>          
          <label>Nome Area</label>
          <input type="text" ng-model="vm.area.nomeArea" placeholder="Nome Area" required>
        </md-input-container>
        <md-input-container md-no-float>
          <label> Sub Codigo</label>
          <input type="text" ng-model="vm.area.subCodigo" placeholder="Sub Codigo" required>
        </md-input-container>
        <md-input-container md-no-float>
          <label > Sub Area</label>
          <input type="text" ng-model="vm.area.subArea" placeholder="Sub Area" required>
        </md-input-container>
        <md-input-container md-no-float>
          <label> Sub Nivel</label>
          <input type="text" ng-model="vm.area.subNivel" placeholder="Sub Nivel" required>
        </md-input-container>
        <div flex layout="row" layout-align="end end">     
          <md-button type="submit" class="md-raised md-primary"
          ng-class="{
          'md-raised md-hue-1': (areaForm.$dirty &&
          areaForm.$valid)}">
          salvar
          </md-button>
        </div>
      </form>
    </md-content> 
  </div>
</div>